.containerform {
  background-image: url("./image/fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-title{
    padding: 14px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.form-group{
    margin-bottom: 30px;
}

.opcionregistro{
    color:rgb(42, 106, 165);
    text-decoration: none;
    font-weight: bold;

}

.navbar{
    background-color: rgb(243, 243, 220) !important;
}

.d-grid{
    margin-bottom: 30px;
}

.form-container {
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.form-label{
    font-weight: bold;
}

.material-icons{
    color: rgb(30, 133, 173);
}

.btn-primary{
    background-color: rgb(30, 133, 173);
    border-color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #99b7d4; /* Cambiar el color al pasar el mouse */
    border-color: #ffffff; /* También puedes cambiar el color del borde si lo deseas */
    color:black;
    font-weight: bold;
  }

  .nav-link {
    color: rgb(126, 100, 17)!important;
    font-weight: bold;
  }

  .logout{
    color: rgb(126, 100, 17)!important;
  }

  .text-uppercase{
    font-size: 14px;
    text-align: center;
  }