.containerform {
  background-image: url("./image/fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  text-align: center;
}

.input-group-text{
  background: linear-gradient(to right,  #dce3e6,#becdd3, #a2c0c5,#7d95c0);
  color: rgb(0, 0, 0);
   font-weight: bold;

}
.confirmarfecha {
  background: linear-gradient(to right,  #eaf0f7, #7999d4);
 color: black;
 font-weight: bold;
  
}

.confirmarfecha:hover {
  background: linear-gradient(to right,  rgb(58, 98, 104), #303d66);
  color: white;
  font-weight: bold;
}

.descargardato {
  background: linear-gradient(to right,  #eaf0f7, #7999d4);

  color: rgb(0, 0, 0);
  font-weight: bold;
}

.container.graficainicio{
  padding: 0px;
}

.descargardato:hover {
  background: linear-gradient(to right,  rgb(58, 98, 104), #303d66);
  color: white;
  font-weight: bold;
}


.EditarUsuarioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border-radius: 5px;
}

.containertarjeta {
  padding: 10px 10px 30px
}

.containergrafico {
  padding: 20px 20px;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.usuarios-container {
  margin: 20px;
}

.agregar-button {
  background-color: rgb(126, 100, 17);
  color: white;
  border: none;
  padding: 1px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  float: right;
}

.botonnuevo {
  background-color: white;
  color: white;
  border: none;
  padding: 1px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  float: right;
}

.usuarios-table {
  border-collapse: collapse;
  width: 100%;
}

.usuarios-table th,
.usuarios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.usuarios-table th {
  background-color: #f2f2f2;
}

.editar-button,
.eliminar-button {
  background-color: #268588;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.eliminar-button {
  background-color: #c42e42;
}


.gota {
  width: 50px;
}

.boton-alerta {
  background-color: rgb(19, 94, 180);
  color: white;
  width: 150px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 14px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}


.boton-alerta:hover {
  background-color: #69a3d3;
  /* Cambiar el color al pasar el mouse */
  border-color: #ffffff;
  /* También puedes cambiar el color del borde si lo deseas */
  color: black;
  font-weight: bold;
}

.form-title {
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 30px;
}

.opcionregistro {
  color: rgb(42, 106, 165);
  text-decoration: none;
  font-weight: bold;

}

.navbar {
  background: linear-gradient(to right, #c9ecf3, #92c0eb, #2e517c, #253f70, #1d326d);
}

.footerfinal {
  background: linear-gradient(to right, #c9ecf3, #92c0eb, #2e517c, #253f70, #1d326d);
  color: white;
}

.download-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#pdf-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-toggler-icon {
  background-color: rgb(242, 242, 247) !important;
}


.d-grid {
  margin-bottom: 30px;
}


.degraded-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.degraded-nav ul li {
  margin: 0 15px;
}

.degraded-nav ul li a {
  text-decoration: none;
  color: rgb(243, 200, 200);
  font-weight: bold;
  transition: color 0.3s ease;
}

.degraded-nav ul li a:hover {
  color: #e2379b;
}

.form-container {
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
  font-weight: bold;
}

.filas {
  text-align: center;
}

.reading{
  text-align: center;
}

.imageniconohumedad {
  max-width: 40%;
  padding: 10px 0px;
  height: auto;
  display: block;
  /* Asegura que la imagen mantenga su espacio incluso si cambia de tamaño */
  margin: 0 auto;
  /* Centra horizontalmente la imagen en su contenedor */
}

.container2{
 padding: 20px 0px;
 display: flex;
}

.datetime-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.datetime-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.confirm-button {
  padding: 8px 12px;
  background-color: #4396c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Estilos para los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
}

.btn-primary {
  background-color: rgb(30, 133, 173);
  border-color: rgb(255, 255, 255);
  font-weight: bold;
}

.horaactual{
  text-align: center;
}


.btn-primary:hover {
  background-color: #99b7d4;
  /* Cambiar el color al pasar el mouse */
  border-color: #ffffff;
  /* También puedes cambiar el color del borde si lo deseas */
  color: black;
  font-weight: bold;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 17px;
}

.logout {
  color: rgb(255, 255, 255) !important;
}

.text-uppercase {
  font-size: 14px;
  text-align: center;
}

.nombrenav{
  padding: 10px 1px 8px 4px;
}
.logonav{
  padding: 12px 1px 10px 20px;
}

.iconocuadro1{
  background-color: #20AD8D;
  color: #20AD8D;
}

.iconocuadro2{
  background-color: #396ABF;
  color: #396ABF;
}

.iconocuadro3{
 
  background-color: #7839BF;
  color: #7839BF;
}

/* Estilo para el footer */
.footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto completo del viewport */
}

/* Estilo para el contenido principal */
.usuarios-container {
  flex-grow: 1; /* Permite que el contenido principal crezca y ocupe el espacio restante */
  padding: 20px; /* Agrega un espacio de padding alrededor del contenido principal */
}