.containerform {
  background-image: url("./image/fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.border{
  color: none;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  background-color: #fff; /* Cambia esto según tu diseño */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega sombra si es necesario */
}



.password-input {
  position: relative;
}

.password-input input {
  padding-right: 40px; /* Ajusta el espaciado a tu preferencia */
}

.mostrar-btn {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta la posición horizontal a tu preferencia */
  transform: translateY(-50%);
  cursor: pointer;
}


.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 15px 10px 5px;
}

.card-text{
  padding: 0px 20px;
}

.center {
  text-align: center;
}

.color1{
  background-color: #ffffff;
}

.color2{
  background-color: #A3DFFC;
}

.color3{
  background-color: #FCF5A3
}

.color4{
  background-color: #FCB3A3
}

.input-group-text{
  background: linear-gradient(to right,  #c1d3d6,#a2acbe);
  color: rgb(0, 0, 0);
   font-weight: bold;

}
.confirmarfecha {
  background: #a2acbe;
 color: black;
 font-weight: bold;
  
}

.confirmarfecha:hover {
  background: linear-gradient(to left,  #c1d3d6,#a2acbe);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.descargardato {
  background:  #c1d3d6;

  color: rgb(0, 0, 0);
  font-weight: bold;
}

.descargardato{
  padding: 0px 5px;
}

.container.graficainicio{
  padding: 0px;
}

.material-icons.pdf{
  padding: 0px 3px 0px 7px;
  height: 5px !important;
}

.descargardato:hover {
  background: linear-gradient(to left,  #c1d3d6,#a2acbe);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Estilos por defecto */
.superior {
  margin-top: 150px; /* Ajusta este valor según la altura de tu barra de navegación */
}

/* Estilos para pantallas aún más grandes */
@media (min-width: 1200px) {
  .superior {
    margin-top: 100px; /* Ajusta este valor según tus necesidades */
  }
}

.container3{
  padding: 3px 0px 3px 0px;
}

.card-body{
  padding: 5px 0px 3px 0px;
}

.inicio {
  padding: 0px 0px 10px 0px;
}

.fin{
  padding: 0px 0px 10px 0px;
}

.botones{
  padding: 0px 0px 10px 0px;
}

.button-container {
  text-align: center;
  margin-top: 0px; /* Ajusta este valor según tus preferencias */
}

.button-container button {
  margin-right: 25px; /* Ajusta este valor para establecer el espacio entre los botones */

}

.EditarUsuarioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border-radius: 5px;
}

.containertarjeta {
  padding: 10px 10px 30px
}

.containergrafico {
  padding: 20px 20px;
}

.containertransmision {
  padding: 0px 15px 40px 20px;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.usuarios-container {
  margin: 20px;
}

.container.completo{
  padding: 0px 20px;
}

.transmision{
  width: 65% ;
  padding: 10px;
}

.agregar-button {
  background-color: rgb(126, 100, 17);
  color: white;
  border: none;
  padding: 1px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  float: right;
}

.containertabla{
  padding: 10px  10px;
}

.card-text{
  text-align: justify;
}

.containernombre{
  padding: 0px;
  
}



.botonnuevo {
  background-color: white;
  color: white;
  border: none;
  padding: 1px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  float: right;
}

.usuarios-table {
  border-collapse: collapse;
  width: 100%;
}

.usuarios-table th,
.usuarios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.usuarios-table th {
  background-color: #f2f2f2;
}

.editar-button,
.eliminar-button {
  background-color: #268588;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.eliminar-button {
  background-color: #c42e42;
}

.containerfooter{
  padding: 50px 30px;
}

.gota {
  width: 50px;
}

.boton-alerta {
  background-color: rgb(19, 94, 180);
  color: white;
  width: 150px;
}

/* Usuarios.css */
.btn-editar {
  background-color: #9fa8df;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.btn-editar:hover {
  background-color: #2c3e50;
  font-weight: bold;
  color: white;
}

.btn-eliminar {
  background-color: #f1958a;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.btn-eliminar:hover {
  background-color: #c0392b;
  font-weight: bold;
  color: white;
}


.table {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 14px;
}

.menu {
  color: white ;
}

.datetime-input{
  padding: 0px;
}

.navbar-toggler{
  color: white;
}

.table-responsive{
  padding: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}


.boton-alerta:hover {
  background-color: #69a3d3;
  /* Cambiar el color al pasar el mouse */
  border-color: #ffffff;
  /* También puedes cambiar el color del borde si lo deseas */
  color: black;
  font-weight: bold;
}

.form-title {
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 30px;
}

.opcionregistro {
  color: rgb(42, 106, 165);
  text-decoration: none;
  font-weight: bold;

}

.container4{
  padding: 25px;
}

.navbar {
  background: linear-gradient(to right, #c9ecf3, #92c0eb, #2e517c, #253f70, #1d326d);
}

.footerfinal {
  background: linear-gradient(to right, #c9ecf3, #92c0eb, #2e517c, #253f70, #1d326d);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0; /* Ajusta el espacio interno del footer según tus preferencias */
  text-align: center;
}

.download-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#pdf-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-toggler-icon {
  background-color: rgb(242, 242, 247) !important;
}


.d-grid {
  margin-bottom: 30px;
}


.degraded-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.degraded-nav ul li {
  margin: 0 15px;
}

.degraded-nav ul li a {
  text-decoration: none;
  color: rgb(243, 200, 200);
  font-weight: bold;
  transition: color 0.3s ease;
}

.degraded-nav ul li a:hover {
  color: #e2379b;
}

.form-container {
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
  font-weight: bold;
}

.filas {
  text-align: center;
}

.reading{
  text-align: center;
}

.imageniconohumedad {
  max-width: 30%;
  padding: 10px 0px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.container2{
 padding: 10px 0px;
 display: flex;
}

.datetime-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.datetime-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.confirm-button {
  padding: 8px 12px;
  background-color: #4396c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
}

.btn-primary {
  background-color: rgb(30, 133, 173);
  border-color: rgb(255, 255, 255);
  font-weight: bold;
}

.horaactual{
  text-align: center;
}


.btn-primary:hover {
  background-color: #99b7d4;
  /* Cambiar el color al pasar el mouse */
  border-color: #ffffff;
  /* También puedes cambiar el color del borde si lo deseas */
  color: black;
  font-weight: bold;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 17px;
}

.logout {
  color: rgb(255, 255, 255) !important;
}

.text-uppercase {
  font-size: 14px;
  text-align: center;
}

.nombrenav{
  padding: 10px 1px 8px 4px;
}
.logonav{
  padding: 12px 1px 10px 20px;
}

.iconocuadro1{
  background-color: #20AD8D;
  color: #20AD8D;
}

.iconocuadro2{
  background-color: #396ABF;
  color: #396ABF;
}

.iconocuadro3{
 
  background-color: #7839BF;
  color: #7839BF;
}

/* Estilo para el footer */
.footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto completo del viewport */
}

/* Estilo para el contenido principal */
.usuarios-container {
  flex-grow: 1; /* Permite que el contenido principal crezca y ocupe el espacio restante */
  padding: 20px; /* Agrega un espacio de padding alrededor del contenido principal */
}